[submodule "languages/java"]
	path = languages/java
	url = git@github.com:pixee/java-code-hardener.git
[submodule "languages/javascript"]
	path = languages/javascript
	url = git@github.com:pixee/javascript-language-provider.git
