name: Run Checks and Tests

on:
  push:
  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_pixeeArtifactoryUsername: ${{ vars.PIXEE_ARTIFACTORY_USERNAME }}
      ORG_GRADLE_PROJECT_pixeeArtifactoryPassword: ${{ secrets.PIXEE_ARTIFACTORY_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Semgrep
        run: python3 -m pip install semgrep==1.34.1
      - uses: actions/setup-node@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: stCarolas/setup-maven@v4.4
        with:
          maven-version: 3.8.2
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: check --stacktrace
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
      - name: Upload build reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: build-reports
          path: build/reports/
